/* body {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.m{
    width: 100px;
    height: 100px;
    background-color: red;
    display: block;
    order: 3;
}
.n{
    width: 100px;
    height: 100px;
    background-color: rgb(23, 216, 39) ;
    display: block;
    order: 1;
}
.s{
    width: 100px;
    height: 100px;
    background-color: yellow;
    display: block;
    order: 2;
} */
.cal{
    width: 500px;
    height:700px;
    background-color: rgba(154, 172, 180, 0.575);
    /* border-radius: 40px; */
    padding: 5% 15px;
    border: 2px solid rgb(8, 5, 46);
    box-shadow: 0px 10px 10px 10px rgba(8, 47, 219, 0.473);
    margin: auto;
    

}
.cal .blasma{
    width: 95%;
    height: 100px;
    background-color: rgba(23, 55, 238, 0.61);
    border-radius: 10px;
    margin: auto;
}
.cal .col1{
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 10px;
    color: rgb(0, 225, 255);


}
.col1 div{ 
    width: 110px;
    height:110px;
    background-color: azure;
    margin: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(6, 9, 26, 0.829);
    box-shadow: 2px 2px 8px 2px rgb(17, 5, 61);
    font-size: 30px;
    color: rgb(0, 255, 128);
}
