/* body {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.m{
    width: 100px;
    height: 100px;
    background-color: red;
    display: block;
    order: 3;
}
.n{
    width: 100px;
    height: 100px;
    background-color: rgb(23, 216, 39) ;
    display: block;
    order: 1;
}
.s{
    width: 100px;
    height: 100px;
    background-color: yellow;
    display: block;
    order: 2;
} */
 .clac{
    width: 200px;
    height: 400px;
    background-color: cornsilk;
    /* display: flex;    
    justify-content: center; */
 }
 .tatch{
    background-color: rgba(18, 106, 141, 0.637);
    border: 2px black solid;
 }
 .butt{
    width: 200px;
    height: 30px;
    /* display: flex; */
    justify-content: space-around;
 }
